
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h2>
    Task 05 - MVC project "Manager System"
</h2>
<p>
    -After consultation is was decided to allow
    anonymous user to register in this system.
    Now admin can't create users but it's easy
    to do this.
</p>
<p>
    -Decided to use bootstrap
</p>
<p>
    -Used google charts
</p>