
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbotron">
        <h1>Manager System</h1>
        Test site
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Orders</h2>
            <p>
                See managers orders list. You can filter it by manager name, by date, and by price (by setting range of price)
            </p>
            <p><a class="btn btn-default" href="/Home/Orders">View orders &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Charts</h2>
            <p>
                See our managers efficiency work. You can build two diagrams - 3d pie and bar chart. 
                Pie shows the ratio of the number of orders between managers, bar - shows total price for every manager.
            </p>
            <p><a class="btn btn-default" href="/Home/Charts">View charts &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>About project</h2>
            <p>
                See more info about project
            </p>
            <p><a class="btn btn-default" href="/Home/About">View info &raquo;</a></p>
        </div>
    </div>
</div>

